ENV_MODE=prod # dev | prod
GA_ID=xxx

# NOTION SETTINGS
NOTION_VERSION=2022-06-28
NOTION_API_KEY=secret_xxx
NOTION_DB_NOTES=xxx

# NOTION UNOFFICAL GLOBAL CONFIGURATION
NOTION_TOKEN_V2=xxx
NOTION_ACTIVE_USER=xxx

# NOTION UNOFFICAL NOTES
NOTE_SOURCE_ID=xxx
NOTE_COLLECTION_VIEW_ID=xxx
NEXT_PUBLIC_ID_NOTE_SLUG_KEY=xxx
NEXT_PUBLIC_ID_NOTE_CREATED_DATE=xxx
NEXT_PUBLIC_ID_NOTE_MODIFIED_DATE_KEY=xxx
NEXT_PUBLIC_ID_NOTE_TAGS_KEY=xxx
NEXT_PUBLIC_ID_NOTE_PAGE_KEY=xxx
NEXT_PUBLIC_ID_NOTE_DRAFT_KEY=xxx
NEXT_PUBLIC_ID_NOTE_VERIFIED_KEY=xxx
NEXT_PUBLIC_ID_NOTE_PUBLISHED_KEY=xxx
NEXT_PUBLIC_ID_NOTE_PINNED_KEY=xxx
NEXT_PUBLIC_ID_NOTE_FINAL_MODIFIED_KEY=xxx
NEXT_PUBLIC_ID_NOTE_VIDEO_KEY=xxx

# NOTION UNOFFICAL TOPICS 
TOPICS_SOURCE_ID=xxx
TOPICS_COLLECTION_VIEW_ID=xxx
TOPICS_DESC_KEY=xxx
TOPICS_PINNED_KEY=xxx
TOPICS_ICON_KEY=xxx
TOPICS_CUSTOM_CLASS_KEY=xxx

# NOTION UNOFFICAL PROJECTS
PROJECTS_SOURCE_ID=xxx
PROJECTS_COLLECTION_VIEW_ID=xxx
PROJECTS_DESC_KEY=xxx
PROJECTS_TYPE_KEY=xxx
PROJECTS_SOURCE_KEY=xxx
PROJECTS_URL_KEY=xxx
PROJECTS_TECHS_KEY=xxx
PROJECTS_CREATED_AT_KEY=xxx

# NOTION UNOFFICAL TOOLS
TOOLS_SOURCE_ID=xxx
TOOLS_COLLECTION_VIEW_ID=xxx
TOOLS_DESC_KEY=xxx
TOOLS_TAGS_KEY=xxx
TOOLS_URL_KEY=xxx
