:root {
  --docsearch-text-color: rgb(var(--ctp-text));
  --docsearch-searchbox-background: rgb(var(--ctp-blue));
  --docsearch-modal-background: rgb(var(--ctp-mantle));
  --docsearch-primary-color: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
  --docsearch-searchbox-focus-background: rgb(var(--ctp-base));
  --docsearch-highlight-color: rgb(var(--ctp-blue));
  --docsearch-hit-background: rgb(var(--ctp-base));
  --docsearch-hit-highlight-color: rgb(var(--ctp-lavender));
  --docsearch-hit-color: rgb(var(--ctp-text));
  --docsearch-muted-color: rgb(var(--ctp-text));
  --docsearch-footer-background: rgb(var(--ctp-base));
  --docsearch-key-gradient: rgb(var(--ctp-mantle));
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgb(var(--ctp-surface0)),0 3px 8px 0 rgb(var(--ctp-base));
  --docsearch-footer-shadow: inset 1px 1px 0 0 rgb(var(--ctp-surface0)),0 3px 8px 0 rgb(var(--ctp-base));
}

.DocSearch-Button {
  color: rgb(var(--ctp-base));
  position: relative;
  font-weight: 600;
  padding: 0.675rem 1.25rem;
  justify-content: center;
  height: auto;
  overflow: hidden;
  margin: 0;
}

.DocSearch-Button:hover {
  color: rgb(var(--ctp-base));
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: rgb(var(--ctp-base));
}

@media (max-width: 600px) {
  :root {
    --docsearch-text-color: rgb(var(--ctp-text));
    --docsearch-searchbox-background: rgb(var(--ctp-mantle));
  }

  .DocSearch-Button {
    padding: 0;
    background-color: inherit;
  }

  .DocSearch-Button .DocSearch-Search-Icon {
    color: rgb(var(--ctp-text));
  }
}

.DocSearch-Button:before {
  content: '';
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  background-color: rgb(var(--ctp-text));
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  opacity: 0.2;
}

.DocSearch-Button > span {
  position: relative;
}

.DocSearch-Button:hover {
  background-color: rgb(var(--ctp-blue));
  outline: none;
  box-shadow: none;
}

.DocSearch-Button:hover:before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.DocSearch-Button-Keys {
  display: none;
}

.DocSearch-Button-Placeholder {
  padding-right: 6px;
}

.DocSearch-Commands-Key {
  box-shadow: none;
  border: 1px solid rgb(var(--ctp-surface0));
}
