---
import HeroCover from '@/components/ui/hero-cover.astro';
import Layout from '@/layouts/Layout.astro';

import { BOOKMARKS } from '@/data/bookmarks';
import { getMetaData } from '../lib/utils';
import BookmarkList from '@/components/ui/bookmark-list.astro';
const metadata = getMetaData({
  title: 'Bookmarks'
});
const totalBookmark = BOOKMARKS.reduce((total, bookmark) => total + bookmark.list.length, 0);
---

<Layout metadata={metadata}>
  <main>
    <HeroCover title='Bookmarks' subtitle={`${totalBookmark} bookmark(s) that I usually use.`}>
      <h2 class='text-lg md:text-xl leading-8 font-medium'>
        I’m always on the lookout for new apps and websites that can help me learn and work more effectively. Here’s a
        list of tools that I’ve found really useful so far.
      </h2>
    </HeroCover>

    <section class='max-w-screen-lg mx-auto my-20'>
      <div class='flex flex-col gap-8'>
        {
          BOOKMARKS.map(bookmark => (
            <div class='flex flex-col rounded-xl bg-mantle p-1'>
              <div class='p-4 text-text'>{bookmark.title}</div>
              <BookmarkList bookmarks={bookmark.list} />
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
