---
import { getPosts, recentTag } from '@/lib/note';
import Layout from '../layouts/Layout.astro';
import HomeHero from '../components/home/home-hero.astro';
import PostList from '@/components/post/post-list.astro';
import { BOOKMARKS } from '../data/bookmarks.ts';
import { getMetaData } from '../lib/utils';
import Skills from '@/components/home/skills.astro';
import Heading from '@/components/ui/heading.astro';
import BookmarkList from '@/components/ui/bookmark-list.astro';

const posts = await getPosts();
const bookmarks = BOOKMARKS.reduce((result, item) => {
  const pinned = item.list.filter(b => b.pinned);
  if (pinned.length) {
    return [...result, ...pinned];
  }

  return result;
}, []);

const metadata = getMetaData({
  title: "Hi! I'm Nam"
});
---

<Layout metadata={metadata}>
  <main>
    <HomeHero />
    <Skills />
    <section class='relative bg-mantle py-12 lg:py-24'>
      <Heading title='Recent updated notes' />
      <div class='max-w-screen-xl xl:mx-auto'>
        <div class='mx-4 lg:mx-6 rounded-xl border border-surface0'>
          <PostList posts={posts} tag={recentTag} className='lg:!pl-20' />
        </div>
      </div>
    </section>

    <section class='relative py-12 lg:py-24'>
      <Heading title='Recent bookmarks' />
      <section class='max-w-screen-xl my-5 lg:my-8 mx-auto px-4 lg:px-6'>
        <BookmarkList bookmarks={bookmarks} className='!bg-mantle' />
      </section>
    </section>
  </main>
</Layout>
