@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark .skeleton-loading {
    --base-color: #4b5563;
    --highlight-color: #58626e;
  }

  .skeleton-loading {
    --base-color: #ebebeb;
    --highlight-color: #f5f5f5;
    @apply relative z-[1] inline-flex w-full select-none overflow-hidden rounded bg-[color:var(--base-color)] leading-none;
    @apply after:absolute after:inset-x-0 after:top-0 after:h-full after:-translate-x-full after:animate-skeleton after:bg-[linear-gradient(90deg,var(--base-color),var(--highlight-color),var(--base-color))] after:bg-no-repeat after:content-["_"];
  }

  .text-rainbow {
    background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0) / 200% no-repeat;
    background-clip: text;
    color: transparent;
  }
}

.dark {
  .dark\:invert img {
    filter: invert(100%);
  }
}
