---
import { AstroSeo, type AstroSeoProps } from '@astrolib/seo';
import Navbar from '@/components/global/navbar.astro';
import Footer from '@/components/global/footer.astro';
import '@/styles/tailwind.css';
import { GoogleAnalytics } from '@astrolib/analytics';
import { ViewTransitions } from 'astro:transitions';
import BaseScripts from '../components/BaseScripts.astro';

interface Props {
  metadata: AstroSeoProps;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="en" class="latte scroll-smooth break-words [word-break:break-word]">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <AstroSeo {...metadata} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <BaseScripts />
    {import.meta.env.NODE_ENV === 'production' && <GoogleAnalytics id="G-3MB2TKP0VR" partytown={true} />}
    <slot name="head" />
    <ViewTransitions fallback="swap" />
  </head>
  <body class="bg-base text-text">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
