---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section class="relative py-16 px-4 bg-mantle">
  <div class="lg:max-w-4xl mx-auto text-center space-y-6">
    <h1 class="font-bold">
      <div class="text-4xl md:text-5xl mb-3">{title}</div>
      {subtitle && <div class="text-xl md:text-2xl text-mauve mb-6">{subtitle}</div>}
    </h1>
    <slot />
  </div>
</section>
