---
import type { Tag } from '../../types';
import { Icon } from 'astro-icon/components';

interface Props {
  tag: Tag;
  size?: 'large' | 'small';
  className?: string;
}

const { tag, size, className } = Astro.props;
---

<a
  href={`/tags/${tag.slug}`}
  class:list={[
    'inline-flex justify-center items-center bg-mantle transition-transform duration-300 will-change-transform border border-surface0 shadow-lg',
    {
      'py-4 px-5 text-lg leading-none whitespace-nowrap rounded-xl hover:-translate-y-1': size === 'large',
      'py-1 px-2 rounded-md text-sm hover:-translate-y-0.5': size === 'small'
    },
    [className]
  ]}
>
  {size === 'large' && <Icon name="lucide:hash" size={18} class="mr-1" />}
  <span class={`text-${tag.color}`}>{tag.name}</span>
</a>
