---
interface Props {
  copyRight?: boolean;
}

const { copyRight } = Astro.props;
---

<div class='flex items-center'>
  <a
    href='/'
    class:list={[
      'group flex relative h-8 w-56',
      { 'items-start justify-start': copyRight, 'items-center': !copyRight }
    ]}
    aria-label={`Nam Hoai Nguyen ${copyRight ? 'Copyright' : ''}`}
  >
    {/* Logo Image */}
    <span
      class:list={[
        'inline-block h-8 w-9 transition-transform duration-200 ease-in-out will-change-transform group-hover:translate-x-2',
        {
          'text-mauve mr-1': !copyRight,
          'mr-2.5': copyRight
        }
      ]}
    >
      <svg xmlns='http://www.w3.org/2000/svg' width={36} height={36} viewBox='0 0 24 24' fill='none'>
        <path
          d='M6.89 9c.98.49 1.82 1.23 2.43 2.15.35.52.35 1.19 0 1.71-.61.91-1.45 1.65-2.43 2.14M13 15h4'
          stroke='currentColor'
          stroke-width='2.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M9 22h6c5 0 7-2 7-7V9c0-5-2-7-7-7H9C4 2 2 4 2 9v6c0 5 2 7 7 7Z'
          stroke='currentColor'
          stroke-width='2.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
      </svg>
    </span>
    {/* Logo Text */}
    <span class='inline-block h-5'>
      <svg width={153} height={20} viewBox='0 0 153 22' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path
          d='M143.406 17C143.208 17 143.098 16.89 143.098 16.692V6.52799C143.098 6.32999 143.208 6.21999 143.406 6.21999H144.704C144.924 6.21999 145.012 6.30799 145.012 6.54999L145.078 7.91399C145.694 6.81399 146.838 5.95599 148.576 5.95599C150.886 5.95599 152.492 7.51799 152.492 10.356V16.692C152.492 16.89 152.382 17 152.184 17H150.798C150.6 17 150.512 16.89 150.512 16.692V10.664C150.512 8.85999 149.588 7.78199 147.938 7.78199C146.288 7.78199 145.078 8.85999 145.078 10.664V16.692C145.078 16.89 144.99 17 144.792 17H143.406Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.12s] group-hover:translate-x-2 group-hover:delay-[.01s]'
        ></path>
        <path
          d='M136.844 17.264C133.324 17.264 131.08 14.734 131.08 11.566C131.08 8.39799 133.302 5.95599 136.536 5.95599C139.748 5.95599 141.618 8.39799 141.618 11.06C141.618 11.94 141.442 12.336 140.716 12.336H133.016C133.258 14.272 134.644 15.636 137.02 15.636C138.208 15.636 139.11 15.306 139.946 14.712C140.078 14.624 140.21 14.624 140.298 14.734L140.782 15.416C140.936 15.592 140.87 15.724 140.694 15.878C139.748 16.802 138.362 17.264 136.844 17.264ZM133.016 10.862H139.858C139.748 8.92599 138.472 7.64999 136.536 7.64999C134.6 7.64999 133.236 8.85999 133.016 10.862Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.11s] group-hover:translate-x-2 group-hover:delay-[.02s]'
        ></path>
        <path
          d='M123.565 21.18C123.345 21.18 123.257 21.048 123.345 20.85L124.863 17.044L120.727 6.594C120.639 6.352 120.727 6.22 120.969 6.22H122.377C122.553 6.22 122.663 6.308 122.729 6.484L125.853 14.756L128.977 6.484C129.043 6.308 129.175 6.22 129.351 6.22H130.737C130.979 6.22 131.089 6.352 131.001 6.594L125.303 20.916C125.237 21.092 125.105 21.18 124.929 21.18H123.565Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.12s] group-hover:translate-x-2 group-hover:delay-[.01s]'
        ></path>
        <path
          d='M113.833 17.264C111.523 17.264 109.917 15.702 109.917 12.842V6.528C109.917 6.33 110.027 6.22 110.225 6.22H111.611C111.809 6.22 111.897 6.33 111.897 6.528V12.556C111.897 14.36 112.821 15.416 114.471 15.416C116.121 15.416 117.331 14.36 117.331 12.556V6.528C117.331 6.33 117.419 6.22 117.617 6.22H119.003C119.201 6.22 119.311 6.33 119.311 6.528V16.692C119.311 16.89 119.201 17 119.003 17H117.705C117.485 17 117.419 16.912 117.397 16.67L117.331 15.306C116.715 16.406 115.571 17.264 113.833 17.264Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.09s] group-hover:translate-x-2 group-hover:delay-[.04s]'
        ></path>
        <path
          d='M102.323 21.51C100.761 21.51 99.3533 21.07 98.4513 20.432C98.2533 20.3 98.2093 20.102 98.2973 19.926L98.7153 19.156C98.8033 18.98 98.9793 18.936 99.1553 19.024C100.079 19.596 101.135 19.86 102.191 19.86C104.127 19.86 105.975 19.002 105.975 16.472V14.822C105.205 16.076 103.907 16.846 102.103 16.846C99.0233 16.846 96.8893 14.602 96.8893 11.39C96.8893 8.22199 99.0233 5.95599 102.081 5.95599C103.907 5.95599 105.227 6.72599 105.997 8.02399L106.019 6.52799C106.019 6.32999 106.129 6.21999 106.327 6.21999H107.603C107.801 6.21999 107.889 6.32999 107.889 6.52799V16.538C107.889 20.124 105.095 21.51 102.323 21.51ZM98.8253 11.39C98.8253 13.634 100.365 15.042 102.411 15.042C104.479 15.042 105.931 13.656 105.931 11.434C105.931 9.18999 104.479 7.75999 102.411 7.75999C100.365 7.75999 98.8253 9.18999 98.8253 11.39Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.08s] group-hover:translate-x-2 group-hover:delay-[.05s]'
        ></path>
        <path
          d='M86.322 17C86.124 17 86.0139 16.89 86.0139 16.692V6.52799C86.0139 6.32999 86.124 6.21999 86.322 6.21999H87.6199C87.8399 6.21999 87.9279 6.30799 87.9279 6.54999L87.9939 7.91399C88.6099 6.81399 89.754 5.95599 91.492 5.95599C93.802 5.95599 95.408 7.51799 95.408 10.356V16.692C95.408 16.89 95.298 17 95.1 17H93.714C93.516 17 93.4279 16.89 93.4279 16.692V10.664C93.4279 8.85999 92.504 7.78199 90.854 7.78199C89.204 7.78199 87.9939 8.85999 87.9939 10.664V16.692C87.9939 16.89 87.9059 17 87.7079 17H86.322Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.07s] group-hover:translate-x-2 group-hover:delay-[.06s]'
        ></path>
        <path
          d='M79.5002 4.306C78.5322 4.306 77.8062 3.558 77.8062 2.612C77.8062 1.688 78.5322 0.940002 79.5002 0.940002C80.4682 0.940002 81.1722 1.688 81.1722 2.612C81.1722 3.558 80.4682 4.306 79.5002 4.306ZM77.9602 16.67V6.55C77.9602 6.352 78.0922 6.22 78.2902 6.22H80.6882C80.8862 6.22 81.0182 6.352 81.0182 6.55V16.67C81.0182 16.868 80.8862 17 80.6882 17H78.2902C78.0922 17 77.9602 16.868 77.9602 16.67Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.06s] group-hover:translate-x-2 group-hover:delay-[.07s]'
        ></path>
        <path
          d='M70.0361 17.264C67.0001 17.264 64.9101 14.822 64.9101 11.61C64.9101 8.41999 67.0001 5.95599 70.0361 5.95599C71.6641 5.95599 72.8301 6.61599 73.5561 7.73799L73.6001 6.54999C73.6001 6.35199 73.7321 6.21999 73.9301 6.21999H76.0861C76.2841 6.21999 76.4161 6.35199 76.4161 6.54999V16.67C76.4161 16.868 76.2621 17 76.0641 17H73.9301C73.7321 17 73.6001 16.868 73.6001 16.67L73.5561 15.482C72.8081 16.582 71.6421 17.264 70.0361 17.264ZM67.8801 11.61C67.8801 13.348 69.0681 14.492 70.6741 14.492C72.2801 14.492 73.4021 13.348 73.4021 11.61C73.4021 9.87199 72.2801 8.72799 70.6741 8.72799C69.0681 8.72799 67.8801 9.89399 67.8801 11.61Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.05s] group-hover:translate-x-2 group-hover:delay-[.08s]'
        ></path>
        <path
          d='M58.8809 17.264C55.6249 17.264 53.2269 14.8 53.2269 11.61C53.2269 8.41999 55.6249 5.95599 58.8809 5.95599C62.1149 5.95599 64.5129 8.41999 64.5129 11.61C64.5129 14.8 62.1149 17.264 58.8809 17.264ZM56.1529 11.61C56.1529 13.37 57.3409 14.47 58.8809 14.47C60.3989 14.47 61.5869 13.37 61.5869 11.61C61.5869 9.84999 60.3989 8.74999 58.8809 8.74999C57.3409 8.74999 56.1529 9.84999 56.1529 11.61Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.04s] group-hover:translate-x-2 group-hover:delay-[.09s]'
        ></path>
        <path
          d='M42.4237 17C42.2257 17 42.0937 16.868 42.0937 16.67V1.6C42.0937 1.402 42.2257 1.27 42.4237 1.27H44.7997C44.9977 1.27 45.1297 1.402 45.1297 1.6V7.848C45.7457 6.748 46.7797 5.956 48.3857 5.956C50.6297 5.956 52.2797 7.584 52.2797 10.4V16.67C52.2797 16.868 52.1257 17 51.9277 17H49.5737C49.3757 17 49.2437 16.868 49.2437 16.67V11.082C49.2437 9.564 48.5397 8.75 47.2417 8.75C45.9657 8.75 45.1297 9.564 45.1297 11.082V16.67C45.1297 16.868 44.9977 17 44.7997 17H42.4237Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.03s] group-hover:translate-x-2 group-hover:delay-[.1s]'
        ></path>
        <path
          d='M24.7893 17C24.5913 17 24.4593 16.868 24.4593 16.67V6.54999C24.4593 6.35199 24.5913 6.21999 24.7893 6.21999H27.0773C27.2753 6.21999 27.4073 6.30799 27.4073 6.57199L27.4733 7.71599C28.0673 6.70399 29.0353 5.95599 30.5093 5.95599C31.8953 5.95599 32.9733 6.61599 33.5673 7.86999C34.1613 6.76999 35.2173 5.95599 36.8893 5.95599C39.1993 5.95599 40.6073 7.53999 40.6073 10.356V16.67C40.6073 16.868 40.4753 17 40.2773 17H37.9013C37.7033 17 37.5713 16.868 37.5713 16.67V11.016C37.5713 9.54199 37.0433 8.74999 35.8553 8.74999C34.7113 8.74999 34.0513 9.54199 34.0513 11.016V16.67C34.0513 16.868 33.9193 17 33.7213 17H31.3673C31.1473 17 31.0153 16.868 31.0153 16.67V11.016C31.0153 9.54199 30.4653 8.74999 29.2993 8.74999C28.1553 8.74999 27.4953 9.54199 27.4953 11.016V16.67C27.4953 16.868 27.3633 17 27.1653 17H24.7893Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.02s] group-hover:translate-x-2 group-hover:delay-[.11s]'
        ></path>
        <path
          d='M16.5572 17.264C13.5212 17.264 11.4312 14.822 11.4312 11.61C11.4312 8.41999 13.5212 5.95599 16.5572 5.95599C18.1852 5.95599 19.3512 6.61599 20.0772 7.73799L20.1212 6.54999C20.1212 6.35199 20.2532 6.21999 20.4512 6.21999H22.6072C22.8052 6.21999 22.9372 6.35199 22.9372 6.54999V16.67C22.9372 16.868 22.7832 17 22.5852 17H20.4512C20.2532 17 20.1212 16.868 20.1212 16.67L20.0772 15.482C19.3292 16.582 18.1632 17.264 16.5572 17.264ZM14.4012 11.61C14.4012 13.348 15.5892 14.492 17.1952 14.492C18.8012 14.492 19.9232 13.348 19.9232 11.61C19.9232 9.87199 18.8012 8.72799 17.1952 8.72799C15.5892 8.72799 14.4012 9.89399 14.4012 11.61Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out delay-[.01s] group-hover:translate-x-2 group-hover:delay-[.12s]'
        ></path>
        <path
          d='M0.628004 17C0.430004 17 0.298004 16.868 0.298004 16.67V6.54999C0.298004 6.35199 0.430004 6.21999 0.628004 6.21999H2.916C3.114 6.21999 3.246 6.30799 3.246 6.57199L3.334 7.84799C3.95 6.74799 4.984 5.95599 6.59 5.95599C8.834 5.95599 10.484 7.58399 10.484 10.4V16.67C10.484 16.868 10.33 17 10.132 17H7.778C7.58 17 7.448 16.868 7.448 16.67V11.082C7.448 9.56399 6.744 8.74999 5.446 8.74999C4.17 8.74999 3.334 9.56399 3.334 11.082V16.67C3.334 16.868 3.202 17 3.004 17H0.628004Z'
          fill='currentColor'
          class='transition-transform duration-200 will-change-transform ease-in-out group-hover:translate-x-2 group-hover:delay-[.13s]'
        ></path>
      </svg>
    </span>
    {/* Copyright */}
    {
      copyRight && (
        <span class='absolute top-[20px] left-[48px] font-medium text-xs'>
          © {new Date().getFullYear()}. All rights reserved.
        </span>
      )
    }
  </a>
</div>
