---
import type { NavMenuProps } from '@/types';

interface Props {
  navItems: NavMenuProps[];
  activeMenu?: string;
}

const { navItems, activeMenu } = Astro.props;
---

<div class="hidden lg:flex">
  {
    navItems.map(({ title, href, external }) => (
      <a
        href={href}
        aria-label={title}
        target={external ? '_blank' : '_self'}
        rel={external ? 'noopener noreferrer' : ''}
        class:list={[
          'relative group flex items-center transition-fade duration-300 ease-in-out px-5',
          {
            'is-active': activeMenu === href
          }
        ]}
      >
        <span class="absolute bg-mauve group-[.is-active]:top-0 group-[.is-active]:left-0 group-[.is-active]:h-1 group-[.is-active]:w-full" />
        <span class="absolute size-full opacity-0 group-[.is-active]:opacity-100 from-mauve/15 to-mauve/5 scale-x-0 top-0 left-0 bg-gradient-to-b group-[.is-active]:scale-x-100" />
        <span class="font-medium transition-opacity duration-300 opacity-50 group-[.is-active]:opacity-100 group-hover:opacity-100 group-hover:underline tracking-wide">
          {title}
        </span>
      </a>
    ))
  }
</div>
